<div class="container">
  <hr/>
  <div class="col-md-6">
    <h1 class="title center">Brandon M. Kelley</h1>
    <div class="hidden-xs hidden-sm">
      <p>Welcome to my personal website. My name is Brandon M. Kelley. I'm a Computer Engineering major at California Polytechnic State University in San Luis Obispo, California. You can catch me socializing in the sun or playing guitar whenever I'm not shipping boatloads of code. I am a member of the Sigma Phi Delta engineering fraternity on campus and contribute everything I can to our cause. I also enjoy playing cards and board games, although I have quite the competitive nature. Feel free to browse and <a href="/contact_me">contact me</a> if you have any questions or concerns to bring to my attention.</p>
      <div class="social">
        <div class="col-md-4">
          <div id="fbiconlg"></div>
          <div id="twittericonlg"></div>
        </div>
        <div class="col-md-4">
          <img class="img-responsive" src="/res/images/social-media.jpg"/>
        </div>
        <div class="col-md-4">
          <div id="instagramiconlg"></div>
          <div id="linkediniconlg"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-responsive" src="/res/images/jeep.jpg"/>
  </div>
  <div class="hidden-md hidden-lg">
    <div class="container">
      <p>Welcome to my personal website. My name is Brandon M. Kelley. I'm a Computer Engineering major at California Polytechnic State University in San Luis Obispo, California. You can catch me socializing in the sun or playing guitar whenever I'm not shipping boatloads of code. I am a member of the Sigma Phi Delta engineering fraternity on campus and contribute everything I can to our cause. I also enjoy playing cards and board games, although I have quite the competitive nature. Feel free to browse and <a href="/contact_me">contact me</a> if you have any questions or concerns to bring to my attention.</p>
      <div class="social">
        <div class="col-xs-3">
          <div id="fbiconsm"></div>
        </div>
        <div class="col-xs-3">
          <div id="twittericonsm"></div>
        </div>
        <div class="col-xs-3">
          <div id="instagramiconsm"></div>
        </div>
        <div class="col-xs-3">
          <div id="linkediniconsm"></div>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>
