<div class="container">
  <hr/>
  <div class="col-xs-12">
    <h1 class="title center">My Portfolio</h1>
  </div>
  <hr/>
  <div class="col-xs-12">
    <p class="center">You can find a downloadable version of this <a href="/res/pdf/resume_brandon_kelley.pdf">here.</a></p>
  </div>
  <br/>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h3 class="center">Education</h3>
    <br/>
    <ul class="titled"><strong>California Polytechnic State University</strong>
      <li>Bachelor of Science in Computer Engineering</li>
      <li>September 2014 - Present</li>
      <li>San Luis Obispo, California</li>
      <li>Expected graduation date: June 2018</li>
      <li>GPA: 3.22</li>
    </ul>
    <ul class="titled"><strong>Coupeville High School</strong>
      <li>Diploma</li>
      <li>September 2009 - June 2014</li>
      <li>Coupeville, Washington</li>
      <li>Graduated: June 6, 2014</li>
      <li>GPA: 3.90</li>
    </ul>
    <br/>
    <h3 class="center">Relevant Coursework</h3>
    <br/>
    <ul class="titled"><strong>Programming</strong>
      <li>CSC 123: Introduction to Computing</li>
      <li>CPE 101: Fundamentals of Computer Science I</li>
      <li>CPE 102: Fundamentals of Computer Science II</li>
      <li>CPE 103: Fundamentals of Computer Science III</li>
      <li>CSC 141: Discrete Structures</li>
      <li>EE 112: Circuit Analysis I</li>
      <li>EE 211: Circuit Analysis II</li>
      <li>IME 156: Basic Electronics Manufacturing</li>
    </ul>
  </div>
  <div class="col-sm-6 col-xs-12">
    <h3 class="center">Work Experience</h3>
    <br/>
    <ul class="titled"><strong>Haberdashion, Mobile Engineering Intern</strong>
      <li>May 2015 - Present</li>
      <li>Coupeville, Washington</li>
      <li>Wrote JavaScript code, to be compiled down to native Android and iOS applications.</li>
    </ul>
    <ul class="titled"><strong>Institute of Advanced Technology and Public Policy</strong>
      <li>February 2015 - Present</li>
      <li>San Luis Obispo, California</li>
      <li>Worked on a transcription tool using a Stripes server backend with JSP templating and MySQL.</li>
    </ul>
    <br/>
    <h3 class="center">Projects</h3>
    <br/>
    <ul class="titled"><strong>Sigma Phi Delta Fraternity, Webmaster</strong>
      <li>Worked with a team in writing HTML, CSS and jQuery on an Express backend, using AWS DynamoDB modeling</li>
      <li>Webpage: https://spdcalpoly.org</li>
      <li>Repository: https://github.com/sigma-phi-delta-beta-nu/website</li>
    </ul>
    <ul class="titled"><strong>HackingEDU, Web and Android Developer</strong>
      <li>Worked with other college students to create a usable website and android application for the upcoming hackathon.</li>
      <li>Webpage: http://hackingedu.co</li>
      <li>Webpage repository: https://github.com/hackingedu/main-hackathon-website</li>
      <li>Android repository: https://github.com/hackingedu/hackingedu.androidapp</li>
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h3 class="center">Skills and Abilities</h3>
    <br/>
    <ul class="titled"><strong>Programming</strong>
      <li><strong>Languages: </strong>Java, Python, HTML5, CSS3, JavaScript, EJS, C, C++ and C#</li>
      <li><strong>Frameworks: </strong>jQuery, Node.js, Express, Android, Stripes, Django, Bootstrap and React.js</li>
      <li>Good understanding of REST protocol</li>
      <li>Familiar with large scale cloud computing systems, such as Amazon Web Services and IBM Bluemix</li>
      <li>Well aquainted with Unix commands and Linux, Mac and Windows operating systems</li>
      <li>Skilled in the use of productivity tools, such as Trello, Git and Google services</li>
      <li>Quick learner and dedicated, dependable worker</li>
    </ul>
  </div>
</div>
